<th:block>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0c5460">
        <a class="navbar-brand" th:href="@{/}" style="color: white">Car Dealer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/customers/add}" style="color: white">Add Customer</a>
                </li>

            </ul>
        </div>
    </nav>
</th:block>